<form action="{{path('search_products')}}" method="get" name="Search">
	<label for="Search" class="form-label"></label>
	<input type="text" name="product_search" id="product_search" class="form-control" required="true">
	<input type="submit" value="Rechercher" class="btn btn-outline-success btn-sm">
</form>
